{# {% if results %}
  <ul>
    {% for row in results %}
      <li>{{ row.nombre }} {{ row.apellidos }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No hay resultados disponibles.</p>
{% endif %} #}

{# {{attach_library('prueba/prueba')}} #}

{# {% block javascripts %}
    <script src="{{ file_url('modules/prueba/assets/js/prueba.js') }}"></script>
{% endblock %}

{% set javascriptCode %}
{% endset %}

<p> aquí {{ javascriptCode|raw }}</p> #}

{# template.twig #}
{{ attach_library('prueba/prueba') }}

<div class="prueba" onload="helloWorld('world!')"></div>
{# <script>helloWorld("world!")</script> #}
