{# Asocia la libreria 'general/inicio' a esta plantilla. #}
{{ attach_library('general/inicio')}}

{#
    Renderiza una sección con un carrusel de tarjetas en el que se muestra la informacion de los proximos 10 partidos.

    @param array partidos Contiene los datos de los partidos.
#}
<p class="h1 text-center mb-3 mt-4">Next Matches</p>
<div class="owl-carousel owl-theme container mb-4">
	{% for partido in partidos %}
		<div class="item partido text-center m-2 p-2 lh-1">
			<p class="comp fw-semibold p-2 h5">{{partido.competicion}}</p>
			<section class="d-flex flex-row m-auto align-items-center justify-items-center">
				<article class="local col col-5">
					<img
					src="{{partido.logoLocal}}" alt="local" class="m-auto p-2">
					<p class="text-uppercase fw-bold p-2 h3">{{partido.local}}</p>
				</article>
				<p class="col col-2 fs-2">vs</p>
				<article class="visitante col col-5">
					<img
					src="{{partido.logoVisitante}}" alt="visitante" class="m-auto p-2">
					<p class="text-uppercase fw-bold p-2 h3">{{partido.visitante}}</p>
				</article>
			</section>
			<p class="estadio ps-2 pe-2">{{partido.estadio ~ ' (' ~ partido.ciudad ~ ', ' ~ partido.pais ~ ')'}}</p>
			<section class="d-flex flex-row m-auto text-center align-items-center justify-items-center">
				<p class="fecha col col-6">{{partido.dia ~ ' ' ~ partido.mes ~ ' ' ~ partido.anio ~ ' ' ~ partido.hora }}</p>
				<div class="entradas text-end col-2 m-0 p-0 d-grid align-items-center m-auto">
                        <a href="http://localhost/AllTickets/matches/{{partido.id}}" data-testid="event-list-link" class="enlace d-inine-block position-relative">
                            <span>Tickets</span>
                            <svg class="flecha flex-shrink-0 d-inline text-nowrap text-center" viewBox="0 0 24 24" width="1em" height="1em"
                                aria-hidden="true" focusable="false">
                                <path d="M3.47 8.26 4.53 7.2 12 14.67l7.47-7.47 1.06 1.06L12 16.8 3.47 8.26Z">
                                </path>
                            </svg>
                        </a>
                    </div>
			</section>
		</div>
	{% endfor %}
</div>

{#
    Muestra una sección con información sobre la empresa.
#}
<section class="nosotros position-relative mt-4 mb-4 ">
	<div class="izquierda p-4">
        <p class="h1 pt-3 pb-3 text-center">About us<p>
		<p>AllTickets is a comprehensive platform dedicated to the sale of tickets for soccer matches of the main European leagues and UEFA competitions, such as the Champions League or the Europa League. This project arises as a response to the growing demand from soccer fans looking for a complete and convenient experience to purchase tickets, access detailed information about matches and teams, and enjoy real-time functionalities.
Unlike other tools, our application focuses exclusively on providing a complete and secure ticketing experience, without delving into the realm of sports betting. Although there are similar tools in the market, specialization and security are the pillars that differentiate our platform, offering users a reliable experience focused solely on their passion for soccer.</p>
	</div>
</section>

{#
    Muestra las ultimas noticias.

    @param array noticias Contiene los elementos de las noticias.

    El elemento loop.index hace referencia al indice del bucle.
#}
<section class="noticias container pb-3 pb-md-0">
    <p class="h1 mb-3 mt-4 title text-center">Latest news</p>
    {% for news in noticias %}
        {% if loop.index == 3 %}
        <div class="news1 ms-1 ms-lg-2 me-1 ms-lg-2 mb-2 position-relative">
            <a href="{{ news.enlace }}">
                <img src="{{ news.imagen }}" class="attachment-khelo_latest_xl_blog size-khelo_latest_xl_blog wp-post-image" alt="">
            </a>
            <section class="info m-0 position-absolute w-100 ps-3">
                <p class="date mt-2 mb-2">{{ news.fecha }}</p>
                <h4 class="mt-3 mb-3">
                    <a href="{{ news.enlace }}">{{ news.titular }}</a>
                </h4>
            </section>
        </div>
        {% endif %}
        {% if loop.index == 2 %}
        <div class="news2 ms-1 me-1 mb-3 position-relative">
            <a href="{{ news.enlace }}">
                <img src="{{ news.imagen }}" class="attachment-khelo_latest_xl_blog size-khelo_latest_xl_blog wp-post-image" alt="">
            </a>
            <section class="info m-0 position-absolute w-100 ps-3">
                <p class="date mt-2 mb-2">{{ news.fecha }}</p>
                <h4 class="mt-3 mb-3">
                    <a href="{{ news.enlace }}">{{ news.titular }}</a>
                </h4>
            </section>
        </div>
        {% endif %}
        {% if loop.index == 1 %}
        <div class="news3 ms-1 me-1 mb-3 position-relative">
            <a href="{{ news.enlace }}">
                <img src="{{ news.imagen }}" class="attachment-khelo_latest_xl_blog size-khelo_latest_xl_blog wp-post-image" alt="">
            </a>
            <section class="info m-0 position-absolute w-100 ps-3">
                <p class="date mt-2 mb-2">{{ news.fecha }}</p>
                <h4 class="mt-3 mb-3">
                    <a href="{{ news.enlace }}">{{ news.titular }}</a>
                </h4>
            </section>
        </div>
        {% endif %}
    {% endfor %}
</section>

{#
    Renderiza una sección con imágenes de diferentes competiciones.

    la funcion file_url sirve para obtener la ruta relativa de un archivo y hacer que al cargar la web muestre su ruta absoluta.
#}
<section class="competiciones mt-4 pb-4 d-md-flex align-items-center justify-content-center m-auto d-none">
    <img src="{{ file_url('modules/partidos/assets/images/GermanBundesliga.png') }}" alt="bundesliga">
    <img src="{{ file_url('modules/partidos/assets/images/EnglishPremierLeague.png') }}" alt="premier">
    <img src="{{ file_url('modules/partidos/assets/images/UEFAChampionsLeague.png') }}" alt="champions">
    <img src="{{ file_url('modules/partidos/assets/images/SpanishLaLiga.png') }}" alt="liga">
    <img src="{{ file_url('themes/alltickets/assets/images/logo2.png') }}" alt="logo" style="width: 15%">
    <img src="{{ file_url('modules/partidos/assets/images/ItalianSerieA.png') }}" alt="seriea">
    <img src="{{ file_url('modules/partidos/assets/images/UEFAEuropaLeague.png') }}" alt="europa">
    <img src="{{ file_url('modules/partidos/assets/images/UEFAConferenceLeague.png') }}" alt="conf">
    <img src="{{ file_url('modules/partidos/assets/images/FrenchLigue1.png') }}" alt="ligue">
</section>
