{# Asocia la libreria 'partidos/listaPartidos' a esta plantilla. #}
{{ attach_library('partidos/listaPartidos') }}

{#
    Este archivo de plantilla muestra una lista de partidos. Incluye las siguientes secciones:
    - Un contenedor para la lista de partidos
    - Cada coincidencia se muestra como un elemento de la lista con la siguiente información:
        - Fecha (mes, día, año)
        - Competición
        - Equipos (local vs visitante)
        - Hora y ubicación (hora, estadio, ciudad, país)
        - Enlace a las entradas para el partido
    - Una sección para filtros, que incluye opciones para filtrar por liga, equipo y fecha de inicio, así como un botón de búsqueda.

    Utilización: Incluye este archivo de plantilla en otra plantilla Twig para mostrar la lista de partidos y filtros.

#}
<section class="listaPartidos">
    <div class="container d-flex pt-3 pb-3 div">
        <div class="col-lg-9 col col-12 p-1">
            <ul class="partidos container">
            {% for partido in partidos %}
                <li class="d-flex flex-md-row flex-column">
                    <div class="text-center col-md-2 col col-12">
                        <span class="month">{{ partido.mes }}</span>
                        <span class="day fw-bold">{{ partido.dia }}</span>
                        <span class="year">{{ partido.anio }}</span>
                    </div>
                    <div class="col-md-7 col col-12 text-wrap pe-0">
                        <p class="h5 mt-1">{{partido.competicion}}</p>
                        <p class="h3 fw-bold has-spacing">{{ partido.local }} vs {{ partido.visitante }}</p>
                        <p class="m-0">
                            <span>{{ partido.hora }}</span> -
                            <span>{{ partido.estadio }} ({{partido.ciudad}}, {{partido.pais}})</span>
                        </p>
                    </div>
                    <div class="entradas text-end col-md-2 col col-12 m-0 p-0">
                        <a href="http://localhost/AllTickets/matches/{{partido.id}}" data-testid="event-list-link" class="enlace d-inine-block position-relative">
                            <span>Tickets</span>
                            <svg class="flecha flex-shrink-0 d-inline text-nowrap text-center" viewBox="0 0 24 24" width="1.5em" height="1.5em"
                                aria-hidden="true" focusable="false">
                                <path d="M3.47 8.26 4.53 7.2 12 14.67l7.47-7.47 1.06 1.06L12 16.8 3.47 8.26Z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="filtros col-lg-3 col col-12 p-1 d-block">
            <p class="h1 p-2 m-0 text-center">Filters</p>
            <section>
                <select name="liga" id="liga" class="ps-2 pe-2 mt-2 mb-2">
                    <option value="">Choose league</option>
                    <option value="eng.1">English Premier League</option>
                    <option value="esp.1">Spanish La Liga</option>
                    <option value="ita.1">Italian Serie A</option>
                    <option value="ger.1">German Bundesliga</option>
                    <option value="fra.1">French Ligue 1</option>
                    <option value="uefa.champions">UEFA Champions League</option>
                    <option value="uefa.europa">UEFA Europa League</option>
                    <option value="uefa.europa.conf">UEFA Conferece League</option>
                </select><br>
                <select name="equipo" id="equipo" disabled="true" class="ps-2 pe-2 mt-2 mb-2">
                    <option value="">Choose team</option>
                </select><br>

                <div class="ps-2 pe-2 mt-2 mb-2 d-flex w-100">
                    <label for="fecha-inicial">Starting date:</label>
                    <input type="date" id="fecha-inicial" disabled="true" class="">
                </div>
                <br>
                <button id="filtrar" disabled="true">Search</button>
            </section>
        </div>
    </div>
</section>
