{{ attach_library('alltickets/header') }}
{{ attach_library('alltickets/general') }}

<header class="d-flex flex-row text-wrap position-fixed w-100">
	<div class="logo">
		<a href="#top">
			<img src="{{ file_url('themes/alltickets/assets/images/logo.png') }}" alt="logo">
		</a>
	</div>
	<ul class="menu">
		<li>
			<a class="nav-link" href="http://localhost/AllTickets/partidos">Partidos</a>
		</li>
		<li>
			<a class="nav-link" href="http://localhost/AllTickets/noticias">Noticias</a>
		</li>
		<li>
			<a class="nav-link" href="http://localhost/AllTickets/equipos">Equipos</a>
		</li>
		<li>
			<a class="nav-link" href="http://localhost/AllTickets/directo">Directo</a>
		</li>
		<li>
            {% if email is not empty %}
                <a class="nav-link d-md-none d-block" href="http://localhost/AllTickets/finsesion">{{ email }}</a>
            {% else %}
                <a class="nav-link d-md-none d-block" href="http://localhost/AllTickets/sesion">Inicio / Registro</a>
            {% endif %}
		</li>
	</ul>
	<div>
        {% if email is not empty %}
            <a class="nav-link d-md-block d-none sesion" href="http://localhost/AllTickets/finsesion">{{ email }}</a>
        {% else %}
            <a class="nav-link d-md-block d-none sesion" href="http://localhost/AllTickets/sesion">Inicio / Registro</a>
        {% endif %}
	</div>
	<div class="header-bar d-md-none d-block">
		<span></span>
		<span></span>
		<span></span>
	</div>
</header>
{# arreglar cabecera de 768 a 826 #}
{# arreglar js #}